@model IEnumerable<Nordic_Align_V7.Models.WarehouseModel>


@{
    ViewData["Title"] = "Lager";
}


<section class="lager-table">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>

    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        
        <div class="container">

            <div class="form">

                @if (TempData["ErrorMessage"] != null)
                {
                    <div id="error-message" class="alert">
                        @TempData["ErrorMessage"]
                    </div>

                    <script>
                        setTimeout(function() {
                            var errorMessage = document.getElementById("error-message");
                            if (errorMessage) {
                                errorMessage.style.display = "none";
                            }
                        }, 4000);
                    </script>
                }

                <h1>Lager tabell</h1>

                <table class="table">

                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Capacity)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="col">
                                @Html.DisplayFor(modelItem => item.Name)
                            </th>
                            <th scope="col">
                                @Html.DisplayFor(modelItem => item.Address)
                            </th>
                            <th scope="col">
                                @Html.DisplayFor(modelItem => item.Phone)
                            </th>
                            <th scope="col">
                                @Html.DisplayFor(modelItem => item.Capacity)
                            </th>
                            <th scope="col">
                                <a class="icon" aria-label="Edit" href="/Warehouse/Edit?id=@item.Id">&#9998;</a>
                            </th>
                            <th scope="col">
                                <a class="icon" aria-label="Delete"  href="/Warehouse/Delete?id=@item.Id">&#128465;</a>
                            </th>
                        </tr>
                    }
                </table>
                <a asp-controller="Warehouse" target="_self" asp-action="Create" class="button-secondary">Lägg till lager</a>
            </div>
            

        </div>


       
    </div>

    
</section>

<script defer src="~/js/main.js"></script>

