@{
    ViewData["Title"] = Nordic_Align_V7.Resources.Resource.Integritetspolicy;
}


}

<section class="privacy">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    
    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        
        <div class="container">
            <h1>@Nordic_Align_V7.Resources.Resource.Integritetspolicy</h1>

            <h2>@Nordic_Align_V7.Resources.Resource.Introduktion</h2>
            <p>@Nordic_Align_V7.Resources.Resource.Vivärnaromdin</p>

            <h2>@Nordic_Align_V7.Resources.Resource.Insamlingavpersonuppgifter</h2>
            <p>@Nordic_Align_V7.Resources.Resource.Vikansamlain</p>
            <ul>
                <li>@Nordic_Align_V7.Resources.Resource.Namnochkontaktuppgifter</li>
                <li>@Nordic_Align_V7.Resources.Resource.Epostadress</li>
                <li>@Nordic_Align_V7.Resources.Resource.IPadressoch</li>
                <li>@Nordic_Align_V7.Resources.Resource.Annaninformation</li>
            </ul>

            <h2>@Nordic_Align_V7.Resources.Resource.Hurvianvänder</h2>
            <p>@Nordic_Align_V7.Resources.Resource.Vianvänderdin</p>
            <ul>
                <li>@Nordic_Align_V7.Resources.Resource.Förbättravårwebbplats</li>
                <li>@Nordic_Align_V7.Resources.Resource.Kontaktadigvid</li>
                <li>@Nordic_Align_V7.Resources.Resource.Analyseraanvändarbeteenden</li>
            </ul>

            <h2>@Nordic_Align_V7.Resources.Resource.Delningavinformation</h2>
            <p>@Nordic_Align_V7.Resources.Resource.Videlarintedina</p>

            <h2>@Nordic_Align_V7.Resources.Resource.Dinarättigheter</h2>
            <p>@Nordic_Align_V7.Resources.Resource.Duharrätt</p>
            <ul>
                <li>@Nordic_Align_V7.Resources.Resource.Begärainformationom</li>
                <li>@Nordic_Align_V7.Resources.Resource.Begärarättelse_</li>
                <li>@Nordic_Align_V7.Resources.Resource.Invändamotvår</li>
            </ul>

            <h2>@Nordic_Align_V7.Resources.Resource.Cookies</h2>
            <p>@Nordic_Align_V7.Resources.Resource.Vianvändercookiesför</p>

            <h2>@Nordic_Align_V7.Resources.Resource.Kontakt_sjö</h2>
            <p>@Nordic_Align_V7.Resources.Resource.Omduharfrågoromdenna <a href="mailto:galinamiteva69@gmail.com">galinamiteva69@gmail.com</a></p>
        </div>

     </div>

    
</section>

<script defer src="~/js/main.js"></script>