@model Nordic_Align_V7.Models.OrderModel


@{
    // Ställ in titeln beroende på om modellen är tom eller inte
    ViewData["Title"] = Model != null && Model.Id != 0 ? "Change order" : "Lägg till order";

    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    var role = roles.FirstOrDefault();
}


<section class="order">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>

    <div class="box">

        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>


        <div class="container">
          

                <div class="form">

                    <h2>@ViewData["Title"]</h2>

                    <form asp-action="@(Model != null && Model.Id != 0 ? "Edit" : "Create")" method="post" class="needs-validation" novalidate>
                        <input type="hidden" asp-for="Id" />

                        <div class="inputBox">
                            <label asp-for="Sender" class="label">Avsändare</label>
                            <div class="inputBox-content">
                            <input asp-for="Sender" class="form-control" disabled />
                            <input type="hidden" asp-for="Sender" />
                            <span style="color:red;" asp-validation-for="Sender" data-valmsg-for="Sender" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="inputBox">
                            <label asp-for="DeliveryDate" class="label"></label>
                            <div class="inputBox-content">
                                <input asp-for="DeliveryDate" class="form-control" />
                                <span style="color:red;" asp-validation-for="DeliveryDate" data-valmsg-for="DeliveryDate" class="text-danger"></span>

                            </div>
                        </div>


                        <div class="inputBox">
                            <label class="label">Mottagare(obligatoriskt)</label>
                            <div class="inputBox-content select-content">
                                <select asp-for="RecepientId" class="custom-select-dropdown" name="RecepientId" id="RecepientId">
                                    <option value="">Välj mottagare (krävs)</option>
                                    @foreach (var recepient in ViewBag.Recepients)
                                    {
                                        <option value="@recepient.Id">@recepient.FullName</option>
                                    }
                                </select>
@*                             <span style="color:red;" asp-validation-for="RecepientId" data-valmsg-for="RecepientId" class="text-danger"></span>
 *@
                            </div>
                        </div>



                        @if (role == "Admin")
                        {
                            <div class="inputBox">
                                <label asp-for="Price" class="label"></label>
                                <div class="inputBox-content">
                                    <input asp-for="Price" type="text" class="form-control" />
                                    <span style="color:red;" asp-validation-for="Price" data-valmsg-for="Price" class="text-danger"></span>

                                </div>
                            </div>



                        

                            <div class="inputBox">
                                <label class="label">Kurir</label>
                                <div class="inputBox-content select-content">
                                <select name="CourierId" class="custom-select-dropdown">
                                        <option value="null">Nej</option>
                                        @foreach (var courier in ViewBag.Couriers)
                                        {
                                            if (Model != null && Model.Id != 0 && courier.Id == Model.CourierId)
                                            {
                                                <option selected value="@courier.Id">@courier.FullName</option>
                                            }
                                            else
                                            {
                                                <option value="@courier.Id">@courier.FullName</option>
                                            }
                                        }
                                    </select>
                                <span style="color:red;" asp-validation-for="CourierId" data-valmsg-for="CourierId" class="text-danger"></span>

                                </div>
                            </div>                      


                            <div class="inputBox">
                                <label class="label">Transport</label>
                            <div class="inputBox-content select-content">
                                <select name="TransportId" class="custom-select-dropdown">
                                        <option value="null">Nej</option>
                                        @foreach (var transport in ViewBag.Transports)
                                        {
                                            if (Model != null && Model.Id != 0 && transport.Id == Model.TransportId)
                                            {
                                                <option selected value="@transport.Id">@transport.Brand @transport.Model @transport.TransportNumber</option>
                                            }
                                            else
                                            {
                                                <option value="@transport.Id">@transport.Brand @transport.Model @transport.TransportNumber</option>
                                            }
                                        }
                                    </select>
                                <span style="color:red;" asp-validation-for="TransportId" data-valmsg-for="TransportId" class="text-danger"></span>

                                </div>
                            </div>


                            <div class="inputBox">
                            <label class="label">Lager</label>
                            <div class="inputBox-content select-content">
                                <select name="warehouses[]" class="custom-select-dropdown">
                                    <option value="null">Nej</option>
                                        @foreach (var warehouse in ViewBag.Warehouses)
                                        {
                                            if (Model != null && Model.Id != 0 && Model.Warehouses.Contains(warehouse))
                                            {
                                                <option selected value="@warehouse.Id">@warehouse.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@warehouse.Id">@warehouse.Name</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                        }
                        <div class="inputBox inputButton-group">
                            <div class="inputBox-btn">
                                <button type="submit" class="button-primary btn-submit">Spara</button>
                                <a asp-action="Index"
                                   asp-controller="@(role == "Admin" ? "Order" : "Home")"
                                   class="button-secondary btn-submit">Avboka</a>
                            </div>
                        </div>
                    </form>
                @if (!string.IsNullOrEmpty(ViewBag.RegisterFail))
                {
                    <div style="color:red;">@ViewBag.RegisterFail</div>
                }

                </div>
            
        </div>
    </div>

</section>



<script defer src="~/js/order_validation.js"></script>
<script defer src="~/js/main.js"></script>
<script>


          $(document).ready(function() {
        $('.custom-select-dropdown').select2({
            minimumResultsForSearch: -1
        }).on('select2:open', function() {
            $('.select2-container--default .select2-results__option--highlighted[aria-selected="true"]')
                .css('background-color', 'rgba(102, 101, 101, 0.9)')
                .css('color', 'white');
        });
    });




</script>
