@model IEnumerable<Nordic_Align_V7.Models.OrderModel>
@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    var role = roles.FirstOrDefault();
}

@{
    ViewData["Title"] = "Order";
}

<section class="order-table">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>

    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>

        <div class="container">
            <div class="form">
                <h2>Order tabell</h2>

                <form method="get" asp-controller="Order" asp-action="OrdersByDate">

                    <div class="inputBox startDate">
                        <label for="startDate" class="form-label">Beställningsdatum från:</label>
                        <input type="date" id="startDate" name="startDate" class="form-control" />
                    </div>
                    <div class="inputBox">
                        <label for="endDate" class="form-label">Beställningsdatum till:</label>
                        <input type="date" id="endDate" name="endDate" class="form-control" />
                    </div>
                    <button type="submit" class="button-primary">Filtrera</button>
                </form>

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Sender)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DeliveryDate)
                        </th>


                        <th>
                            Mottagare
                        </th>


                        @if (role == "Admin")
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                Kurir
                            </th>
                            <th>
                                Transport
                            </th>
                            <th>
                                Lager
                            </th>
                        }

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @if (string.IsNullOrEmpty(item.Sender))
                                {
                                    @ViewBag.UserFullName
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Sender)
                                }
                            </th>

                            <th>
                                @item.OrderDate.ToShortDateString()
                            </th>

                            <th>
                                @item.DeliveryDate.ToShortDateString()
                            </th>


                            <th>
                                @(item.Recepient != null ? item.Recepient.FullName : "Mottagare okänd")
                            </th>


                            @if (role == "Admin")
                            {

                                <th>
                                    @(item.Price != 100 ? item.Price.ToString() : "Add Price ")
                                </th>

                                <th>
                                    @(item.Courier != null ? item.Courier.FullName : " Ej Info ")
                                </th>
                                <th>
                                    @(item.Transport != null ? item.Transport.TransportNumber : " Ej Info")
                                </th>
                                <th>
                                    @(item.Warehouses.Count() != 0 ? string.Join(", ", item.Warehouses.Select(x => x.Name)) : "Ej Info")
                                </th>


                            }


                            <th>
                                <a class="icon"  href="/Order/Edit?id=@item.Id">&#9998;</a>
                            </th>

                            <th>
                                <a class="icon" href="/Order/Delete?id=@item.Id">&#128465;</a>
                            </th>

                        </tr>
                    }
                </table>
                <a asp-controller="Order" target="_self" asp-action="Create" class="button-secondary">Lägg till order</a>


            </div>

        </div>      

    </div>

    
</section>

<script defer src="~/js/main.js"></script>


