@model IEnumerable<Nordic_Align_V7.Models.CourierModel>

@{
    ViewData["Title"] = "Kurirer";
}


<section class="courier-table">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>

    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        


        <div class="container">

            <div class="form">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div id="error-message" class="alert">
                        @TempData["ErrorMessage"]
                    </div>

                    <script>
                        setTimeout(function() {
                            var errorMessage = document.getElementById("error-message");
                            if (errorMessage) {
                                errorMessage.style.display = "none";
                            }
                        }, 4000);
                    </script>
                }

                <h1>Kurir tabell</h1>
                <form asp-action="Search">
                    <div class="inputBox">
                        <input type="text" name="searchString" class="form-control" aria-label="Search by courier name.. " placeholder="Sök på kurirnamn..." />
                        <button type="submit" class="button-primary" aria-label="Search">Sök efter</button>
                    </div>
                </form>
                <table class="table">
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Personnummer)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmploymentDate)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.StartWorkTime)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EndWorkTime)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.LivingPlace)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
                        <th ></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                <a style="color:black" href="/Order/OrdersByCourierId?courierId=@item.Id">@Html.DisplayFor(modelItem => item.FullName)</a>
                            </th>
                            <th>@Html.DisplayFor(modelItem => item.Personnummer)</th>

                            <th>@item.EmploymentDate.ToShortDateString()</th>
                            <th>@item.StartWorkTime.ToString(@"hh\:mm")</th>
                            <th>@item.EndWorkTime.ToString(@"hh\:mm")</th>

                         

                            <th scope="col" >@Html.DisplayFor(modelItem => item.LivingPlace)</th>
                            <th scope="col">@Html.DisplayFor(modelItem => item.Phone)</th>
                            <th><a class="icon" aria-label="Edit"  href="/Courier/Edit?id=@item.Id">&#9998;</a></th>
                            <th>
                                <a class="icon" aria-label="Delete" href="/Courier/Delete?id=@item.Id">&#128465;</a>
                            </th>
                        </tr>
                    }
                </table>
                <a  asp-controller="Courier" target="_self" asp-action="Create"  class="button-secondary">Lägg till kurir</a>


            </div>         
        </div>       
    </div>    
</section>

<script defer src="~/js/main.js"></script>
