@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    var role = roles.FirstOrDefault();

    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

@if (currentController != "Account")
{
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <button class="burger" aria-label="oppen or close burger menu">
                    <span class="lines @(currentController != "Home" ? "lines-gray" : "")"></span>
                    <span class="lines @(currentController != "Home" ? "lines-gray" : "")"></span>
                    <span class="lines @(currentController != "Home" ? "lines-gray" : "")"></span>
                </button>

                <a class="logo" asp-controller="Home" asp-action="Index">
                    <img src="https://nordicimagestorage.blob.core.windows.net/files/miniLogo.png" alt="Logo mini">
                </a>

                <nav class="menu" data-role="@(role == "User" ? "User" : role == "Admin" ? "Admin" : "None")">
                    <ul class="menu__list">
                        @if (role != "Admin")
                        {
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")"asp-area="" onclick="toggle()" asp-controller="Home" asp-action="Index" asp-fragment="home">Hem</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" onclick="toggle()" asp-controller="Home" asp-action="Index" asp-fragment="about">Om oss</a>

                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" onclick="toggle()" asp-controller="Home" asp-action="Index" asp-fragment="why_us">Tjänster</a>

                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" onclick="toggle()" asp-controller="Home" asp-action="Index" asp-fragment="contact">Kontakt</a>

                            </li>
                        }

                        @if (role == "User" || role == "Admin")
                        {
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" asp-controller="Recepient" asp-action="Index">Mottagare</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" asp-controller="Order" asp-action="Index">Order</a>
                            </li>
                        }

                        @if (role == "Admin")
                        {
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" asp-controller="Courier" asp-action="Index">Kurirer</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" asp-controller="Transport" asp-action="Index">Fordonflotta</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" asp-controller="Warehouse" asp-action="Index">Lager</a>
                            </li>
                            <li class="menu__list-item" >
                                <a class="menu__list-link dropdown-toggle @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Faktura
                                </a>
                                <ul class="dropdown-menu custom-dropdown @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")"  aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="menu__list-link dropdown-item @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" asp-controller="Invoice" asp-action="CreateInvoice">Skapa Faktura</a>
                                    </li>
                                    <li>
                                        <a class="menu__list-link dropdown-item @((currentController != "Home" || currentAction == "Error404") ? "menu__list-black" : "")" asp-area="" asp-controller="InvoiceNoTax" asp-action="CreateInvoiceInternational">Skapa EjMoms Faktura</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>

                <ul class="menu__list" id="account">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="menu__list-item"><a class="header__btn" asp-controller="Account" asp-action="Logout">Logga ut</a></li>
                    }
                    else
                    {
                        <li class="menu__list-item"><a class="header__btn" asp-controller="Account" asp-action="Register">Registera dig</a></li>
                        <li class="menu__list-item"><a class="header__btn header__btn__login" asp-controller="Account" asp-action="Login">Logga in</a></li>
                    }
                </ul>
            </div>
        </div>
    </header>
}

<script type="text/javascript">
    window.addEventListener("scroll", function(){
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0)
    })
    function toggle(){
        var header = document.querySelector("header");
        header.classList.toggle("active");
    }
</script>
